Django==2.2.3
Pillow==8.1.1
progressbar2==3.39.3
python-utils==2.3.0
pytz==2018.9
six==1.12.0
django-widget-tweaks
django-userforeignkey
django-bootstrap4
django-fontawesome-5
django-debug-toolbar
django-crispy-forms