{% extends 'base.html' %}
{% load ita_template_tags %}
{% load staticfiles %}
{% block title %}
<title>SmartMed | Профіль {{ user.get_username }}</title>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block context %}
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-info">
                  <h4 class="card-title">Редагування профілю</h4>
                  <p class="card-category">Заповніть данні про себе</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Компанія</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ user.get_username }}</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">{{ user.email }}</label>
                          <input type="email" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Ім'я</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Прізвище</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Адреса</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Місто</label>
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Додаткова інформація</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"> Збережіть тут, все що вважаєте потрібним.</label>
                            <textarea class="form-control" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-info pull-right">Оновити інформацію</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="https://erp.itel.rv.ua/media/avatars/user_14/32183_Scarlett_Johansson.large.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category">trader</h6>
                  <h4 class="card-title">{{ user.get_username }}</h4>
                  <p class="card-description">
                    Some information
                  </p>
                  <!--<a href="#pablo" class="btn btn-primary btn-round">Follow</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}