{% extends 'manager_base.html' %}
{% load ita_template_tags %} 
{% load i18n %}
{% load staticfiles %} 
{% load widget_tweaks %} 
{% block title %}
<title>SmartMed | {% trans "Partners list" %}</title>
{% endblock %}
{% block sidebar %} 
{% endblock %} 
{% block context %}
<div class="content">
    <div class="container-fluid">
    <div class="d-flex align-items-center flex-column">
            <a href="{% url 'employee_create' %}"
                class="btn mb-auto p-2 btn-sm btn-success uppercase"> <i class="material-icons">add</i>{% trans "add partner" %} </a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">{% trans "Partners list" %}</h4>
                        <!-- <p class="card-category"> some text</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th></th>
                                    <th><a href="?{% url_replace request 'o' 'partner_name' %}"> {% trans "Name" %} </a></th>
                                    <th>{% trans "Phone" %}</th>
                                    <th>{% trans "Action" %}</th>
                                </thead>
                                <tbody>
                                    {% for partner in partners %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="ids" value="{{ partner.id }}" />
                                        </td>
                                        <td data-toggle="tooltip" data-placement="bottom" data-html="true"
                                            title="<img src={{partner.avatar.url}}>">
                                            {{ partner.fullname }}
                                        </td>
                                        <td> {{ partner.phone }}</td>
                                        <td class="td-actions">
                                            <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Редагувати профіль партнера"
                                                class="btn btn-success btn-round btn-icon">
                                                <a href="{% url 'partner_update' partner.id %}" />
                                                <i class="material-icons">settings</i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" data-placement="top"
                                                title="Відкрити в новому вікні"
                                                class="btn btn-warning btn-round btn-icon">
                                                <a target="_blank" href="{% url 'partner_update' partner.id %}" />
                                                <i class="material-icons">open_in_new</i>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-icon">
                                                <a data-toggle="modal" onclick="deletePartner({{ partner.id }})" data-target="#modal" href="{% url 'partner_delete' partner.id %}">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include './modal.html' %}
</div>
{% block extrascripts %}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
});

// init modal and ajax request
function deletePartner(id) {
    $('#modal').on('show.bs.modal', function (event) {
        var modal = $(this)
        $.ajax({
            url: "/dashboard/partner/delete/" + id,
            context: document.body
        }).done(function (response) {
            modal.html(response);
        });
    });
};
</script>
{% endblock extrascripts %}
{% endblock %}