{% extends 'manager_base.html' %}
{% load widget_tweaks %} 
{% load i18n %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load ita_template_tags %}
{% block title %}
<title>SmartMed | Профіль {{ user.get_username }}</title>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'assets/plugins/datepicker/datepicker.min.css' %}">
{% endblock extrastyle %}
{% block context %}
<div class="content">
	<form id="EmployeeSelfUpdateForm" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		<div class="container-fluid">
			{% include 'includes/dashboard/form_errors.html' %}
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header card-header-info">
							<h4 class="card-title">{% trans "Profile update" %}</h4>
							<p class="card-category"><small>* - {% trans "required field" %}</small></p>
						</div>
						<div class="card-body">
							<div class="row">
								<!--name-->
								<div class="col-6">
									<div class="form-group">
										<label class="bmd-label-floating">{% trans "Name" %}</label>
										{{ form.name | add_class:"form-control" }}
									</div>
								</div>
								<!--/name-->
								<!--email-->
								<div class="col-6">
									<div class="form-group">
										<label class="bmd-label-floating">{% trans "Email" %}</label>
										{{ form.email | add_class:"form-control" }}
									</div>
								</div>
								<!--/email-->
							</div>
							<div class="row">
								<!--position-->
								<div class="col-6">
									<div class="form-group">
										<label class="bmd-label-floating">{% trans "Position" %}</label>
										{{ form.position | add_class:"form-control" }}
									</div>
								</div>
								<!--/position-->
								<!--phone-->
								<div class="col-6">
									<div class="form-group">
										<label class="bmd-label-floating">{% trans "Phone" %}</label>
										{{ form.phone | add_class:"form-control" }}
									</div>
								</div>
								<!--/phone-->
							</div>

							<div class="row">
								<!--birthday-->
								<div class="col-6">
									<div class="form-group">
										<label class="bmd-label-floating">{% trans "Birthday" %}</label>
										{{ form.birthday | append_attr:"class:form-control datepicker-here" }}
									</div>
								</div>
								<!--/birthday-->
								<!--theme-->
								<div class="col-6">
									<div class="form-group">
										<label class="bmd-label-floating">{% trans "Dashboard theme" %}</label>
										{{ form.theme | append_attr:"class:form-control" }}
									</div>
								</div>
								<!--/theme-->
							</div>
							<button id="submit" class="btn btn-info btn-block">{% trans "Update information" %}</button>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="card card-profile">
							<!--avatar preview-->
							<div class="card-avatar">
								<a href="{{ employee.avatar.url }}" target="blank">
									<img class="img" src="{{ employee.avatar.url }}">
								</a>
							</div>
							<!--/avatar preview-->
							<!--username, position and etc.-->
							<div class="card-body">
								<h6 class="card-category">{{ employee.position }}</h6>
								<h4 class="card-title">
									{{ employee.user.get_username }}
								</h4>
								<p class="card-description">
									{{ employee.name }} {{ employee.fullname }}
								</p>
							</div>
							<!--/username, position and etc.-->
						</div>
						<div class="card">
							<!--avatar upload form-->
							<div class="card-header card-header-info">
								<h5>{% trans "Update profile photo" %}</h5>
							</div>
							<div class="card-body m-2">
								<div class="container">
									{{ form.avatar }}
									<label for="id_avatar" class="custom-file-upload">
										<i class="material-icons">
											add_a_photo
										</i>
									</label>
									{{ form.x }}
									{{ form.y }}
									{{ form.width }}
									{{ form.height }}
								</div>
							</div>
							<!--/avatar upload form-->
						</div>
						<!--Modal with cropper-->
						{% include './includes/crop.html' %}
						<!--/Modal with cropper-->
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
{% block extrascript %}
<script src="{% static 'assets/plugins/datepicker/datepicker.min.js' %}" type="text/javascript"></script>
<script>
$(function () {

    /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
    $("#id_avatar").change(function () {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#image").attr("src", e.target.result);
                $("#modalCrop").modal("show");
            }
            reader.readAsDataURL(this.files[0]);
        }
    });

    /* SCRIPTS TO HANDLE THE CROPPER BOX */
    var $image = $("#image");
    var cropBoxData;
    var canvasData;
    $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
            viewMode: 1,
            aspectRatio: 1 / 1,
            minCropBoxWidth: 200,
            minCropBoxHeight: 200,
            ready: function () {
                $image.cropper("setCanvasData", canvasData);
                $image.cropper("setCropBoxData", cropBoxData);
            }
        });
    }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
    });

    $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
    });

    $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
    });

    /* SCRIPT TO COLLECT THE DATA FROM AVATAR FIELD AND POST TO THE SERVER */
    $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#EmployeeSelfUpdateForm").submit();
    });

	$( "#submit" ).click(function() {
  		$( "#EmployeeSelfUpdateForm" ).submit();
	});

});
</script>
{% endblock extrascript %}