{% extends 'manager_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
<title>SmartMed | {% trans "Employee create" %}</title>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'assets/plugins/datepicker/datepicker.min.css' %}">
{% endblock extrastyle %}
{% block context %}
<div class="content">
    <div class="container-fluid">
        <form method="post" id="employeeCreate" enctype="multipart/form-data">
            {% if form.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {% for field in form %}
                {% if field.errors %}
                <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-info">
                            <h4 class="card-title ">{% trans "Employee create" %}</h4>
                            <p class="card-category"><small>* - {% trans "required field" %}</small></p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    {{ form.username|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.email|as_crispy_field }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card mt-1 mb-1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            {{ form.name|as_crispy_field }}
                                        </div>
                                        <div class="col-12">
                                            {{ form.position|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card mt-1 mb-1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            {{ form.password|as_crispy_field }}
                                        </div>
                                        <div class="col-12">
                                            {{ form.password_confirm|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    {{ form.phone|as_crispy_field }}
                                </div>
                                <div class="col">
                                    <div id="div_id_birthday" class="form-group bmd-form-group">
                                        <label for="id_birthday" class="col-form-label bmd-label-static">
                                            {% trans "Birthday" %}
                                        </label>
                                        <div class="">
                                            {{ form.birthday | append_attr:"class:form-control datepicker-here" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    {{ form.theme|as_crispy_field }}
                                </div>
                            </div>
                            <button id="submit" class="btn btn-info btn-block">{% trans "Create employee" %}</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extrascript %}
<script src="{% static 'assets/plugins/datepicker/datepicker.min.js' %}" type="text/javascript"></script>
{% endblock extrascript %}