{% load i18n %}
{% load widget_tweaks %}
<div class="card mb-1">
    <!--header-->
    <div class="card-header card-header-info">
        <div class="text-center">{% trans "Price" %}</div>
    </div>
    <!--/header-->
    <!--body-->
    <div class="card-body">
        <div id="priceList">
            {% for formset in price_records_formset %}
            <div class="form-row">
                {{ formset.non_field_errors }}
                {{ formset.errors }}
                {{ formset.id }}
                <div class="form-group col-xl-3 col-lg-4 col-md-6 col-sm-12">
                    <label>{{ formset.from_date.label }}</label>
                    {{ formset.from_date | add_class:"form-control" }}
                </div>
                <div class="form-group col-xl-2 col-lg-4 col-md-6 col-sm-12">
                    <label>{{ formset.regular_price.label }}</label>
                    {{ formset.regular_price | add_class:"form-control" }}
                </div>
                <div class="form-group col-xl-2 col-lg-4 col-md-6 col-sm-12">
                    <label>{{ formset.discount_price_1.label }}</label>
                    {{ formset.discount_price_1 | add_class:"form-control" }}
                </div>
                <div class="form-group col-xl-2 col-lg-4 col-md-6 col-sm-12">
                    <label>{{ formset.discount_price_2.label }}</label>
                    {{ formset.discount_price_2 | add_class:"form-control" }}
                </div>
                <div class="form-group col-xl-2 col-lg-4 col-md-6 col-sm-12">
                    <label>{{ formset.discount_price_3.label }}</label>
                    {{ formset.discount_price_3 | add_class:"form-control" }}
                </div>
                <div class="form-group col-xl-1 col-lg-4 col-md-6 col-sm-12">
                    <div class="btn-group float-right">
                        <button type="button" id="addFormPrice" class="add-form-row btn btn-sm btn-outline-success">
                            <i class="material-icons">
                                add
                            </i>
                        </button>
                    </div>
                </div>

            </div>

            {% endfor %}
        </div>
        {{ price_records_formset.management_form }}
        <p class="card-text"><small class="text-muted">{% trans "* - required field" %}</small>
        </p>
    </div>
    <!--/body-->
</div>