{% load i18n %}
{% load widget_tweaks %}
{% load static %}
<div class="card">
    <div class="card-header card-header-info">
        <div class="text-center">{% trans "Price" %}</div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">{% trans "Actual from" %}</th>
                    <th class="text-center">{% trans "Product price" %}</th>
                    <th class="text-center">{% trans "Discount price" %}</th>
                    <th class="text-center">{% trans "Discount price" %}</th>
                    <th class="text-center">{% trans "Discount price" %}</th>
                    <th class="text-right">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for formset in price_records_formset %}
                {{ formset.non_field_errors }}
                {{ formset.errors }}
                {{ formset.id }}
                <div class="form-row">
                    <tr>
                        <td>{{ formset.from_date | append_attr:"class:form-control datepicker-here text-center" }}</td>
                        <td>{{ formset.regular_price | add_class:"form-control text-center" }}</td>
                        <td>{{ formset.discount_price_1 | add_class:"form-control text-center" }}</td>
                        <td>{{ formset.discount_price_2 | add_class:"form-control text-center" }}</td>
                        <td class="text-right">{{ formset.discount_price_3 | add_class:"form-control text-center" }}
                        </td>
                        <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn btn-success add-form-row">
                                <i class="material-icons">add</i>
                            </button>
                        </td>
                    </tr>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>