<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>SmartMed | Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    
{% include 'includes/css_list.html' %}

</head>
<body class="dark-edition">
    <div class="wrapper ">
        
{% include 'includes/sidebar.html' %}

        <div class="main-panel ps-container ps-theme-default">
            
        {% include 'includes/navbar.html' %}
        
        {% block context %}
        
        {% endblock %}
        
        </div>
    </div>
    
{% include 'includes/js_list.html' %}

</body>