<div class="container-fluid">
        <div class="row">
              <div id="card" class="col-3 col-sm-3 mt-5">
                  <div class="cont_modal cont_modal_active">
                      <div class="cont_photo">
                          <div class="cont_img_back">
                              <img src="https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg" alt="" />
              </div>
          <div class="cont_mins">
              <div class="sub_mins">
                  <h4>Вартість</h4>
                  <span>100$</span>
          </div>
          <div class="cont_icon_right">
          <a href="#">  <i class="material-icons">add_shopping_cart</i></a>
          </div>
              </div>
          <div class="cont_servings">
              <h4>В наявності</h4>
              </div>
          <div class="cont_detalles">
              <h3>Item name</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora porro aspernatur exercitationem neque corporis impedit. Tempore, blanditiis? Facilis tempore illo possimus odit, tempora veniam reprehenderit quod? Facere nisi libero recusandae.</p>
              </div>
              </div>
          </div>
          </div>
        <!--    Card end    -->
        <div id="card" class="col-3 col-sm-3 mt-5">
                <div class="cont_modal cont_modal_active">
                    <div class="cont_photo">
                        <div class="cont_img_back">
                            <img src="https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg" alt="" />
            </div>
        <div class="cont_mins">
            <div class="sub_mins">
                <h4>Вартість</h4>
                <span>100$</span>
        </div>
        <div class="cont_icon_right">
        <a href="#">  <i class="material-icons">add_shopping_cart</i></a>
        </div>
            </div>
        <div class="cont_servings">
            <h4>В наявності</h4>
            </div>
        <div class="cont_detalles">
            <h3>Item name</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora porro aspernatur exercitationem neque corporis impedit. Tempore, blanditiis? Facilis tempore illo possimus odit, tempora veniam reprehenderit quod? Facere nisi libero recusandae.</p>
            </div>
            </div>
        </div>
        </div>
      <!--    Card end    -->
      <div id="card" class="col-3 col-sm-3 mt-5">
            <div class="cont_modal cont_modal_active">
                <div class="cont_photo">
                    <div class="cont_img_back">
                        <img src="https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg" alt="" />
        </div>
    <div class="cont_mins">
        <div class="sub_mins">
            <h4>Вартість</h4>
            <span>100$</span>
    </div>
    <div class="cont_icon_right">
    <a href="#">  <i class="material-icons">add_shopping_cart</i></a>
    </div>
        </div>
    <div class="cont_servings">
        <h4>В наявності</h4>
        </div>
    <div class="cont_detalles">
        <h3>Item name</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora porro aspernatur exercitationem neque corporis impedit. Tempore, blanditiis? Facilis tempore illo possimus odit, tempora veniam reprehenderit quod? Facere nisi libero recusandae.</p>
        </div>
        </div>
    </div>
    </div>
  <!--    Card end    -->
  <div id="card" class="col-3 col-sm-3 mt-5">
        <div class="cont_modal cont_modal_active">
            <div class="cont_photo">
                <div class="cont_img_back">
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg" alt="" />
    </div>
<div class="cont_mins">
    <div class="sub_mins">
        <h4>Вартість</h4>
        <span>100$</span>
</div>
<div class="cont_icon_right">
<a href="#">  <i class="material-icons">add_shopping_cart</i></a>
</div>
    </div>
<div class="cont_servings">
    <h4>В наявності</h4>
    </div>
<div class="cont_detalles">
    <h3>Item name</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora porro aspernatur exercitationem neque corporis impedit. Tempore, blanditiis? Facilis tempore illo possimus odit, tempora veniam reprehenderit quod? Facere nisi libero recusandae.</p>
    </div>
    </div>
</div>
</div>
<!--    Card end    -->
<div id="card" class="col-3 col-sm-3 mt-5">
        <div class="cont_modal cont_modal_active">
            <div class="cont_photo">
                <div class="cont_img_back">
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg" alt="" />
    </div>
<div class="cont_mins">
    <div class="sub_mins">
        <h4>Вартість</h4>
        <span>100$</span>
</div>
<div class="cont_icon_right">
<a href="#">  <i class="material-icons">add_shopping_cart</i></a>
</div>
    </div>
<div class="cont_servings">
    <h4>В наявності</h4>
    </div>
<div class="cont_detalles">
    <h3>Item name</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora porro aspernatur exercitationem neque corporis impedit. Tempore, blanditiis? Facilis tempore illo possimus odit, tempora veniam reprehenderit quod? Facere nisi libero recusandae.</p>
    </div>
    </div>
</div>
</div>
<!--    Card end    -->

            </div>
          </div>
  