<!DOCTYPE html>
<html>

<head>
	<link href="assets/main.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css" type="text/css" charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.webix.com/site/webix.css?v=6.2.1">
    <script type="text/javascript" src="//cdn.webix.com/site/webix.js?v=6.2.1"></script>
    <script src="/assets/main.js"></script>
	<title>Smart med</title>
	<meta charset="UTF-8" />
</head>
<body>
<!--  Card start  -->
  <header>
	<!--  filter menu start  -->
	  <nav>
	  </nav>
	<!--  filter menu end  -->
  </header>
  <!--left menu start-->
  <aside>
    <script type="text/javascript" charset="utf-8">
    "use strict";
    var menu_data = [
	{id: "main", icon: "mdi mdi-view-dashboard", value: "Головна"},
	{id: "category", icon: "mdi mdi-view-column", value:"Категорія 1", data:[
		{ id: "category_1", value: "Підкатегорія 1"},
		{ id: "category_2", value: "Підкатегорія 2"}
	]},
	{id: "categorys", icon: "mdi mdi-table", value:"Категорія 2", data:[
		{ id: "tables1", value: "Підкатегорія 1"},
		{ id: "tables2", value: "Підкатегорія 2"},
		{ id: "tables3", value: "Підкатегорія 3"}
	]},
	{id: "uis", icon: "mdi mdi-puzzle", value:"Категорія 3", data:[
		{ id: "dataview", value: "DataView"},
		{ id: "list", value: "List"},
		{ id: "menu", value: "Menu"},
		{ id: "tree", value: "Tree"}
	]},
	{id: "tools", icon: "mdi mdi-calendar", value:"Категорія 4", data:[
		{ id: "kanban", value: "lorem"},
		{ id: "pivot", value: "lorem"},
		{ id: "scheduler", value: "lorem"}
	]},
	{id: "forms", icon: "mdi mdi-pencil", value:"Контакти",  data:[
		{ id: "buttons", value: "Buttons"},
		{ id: "selects", value: "Select boxes"},
		{ id: "inputs", value: "Inputs"}
	]},
];


webix.ui({
	rows: [
		{ view: "toolbar", css:"webix_dark", padding:3, elements: [
			{ view: "button", type: "icon", icon: "mdi mdi-menu",
				width: 37, align: "left", css: "app_button", click: function(){
					$$("$sidebar1").toggle();
				}
            },
            { view: "label", label: "<img src='../assets/img/logo.png' style='height:30px'> SmartMed"},
            { view:"search", placeholder:"Введіть назву товару для пошуку", width: 500},
			{ view: "button", type: "icon", width: 45, css: "app_button", icon: "mdi mdi-cart", tooltip:"Кошик", popup:"basket", badge:4},
			// { view: "button", type: "icon", width: 45, css: "app_button", icon: "mdi mdi-bell",  badge:10}
		]},
		{ cols:[
			{
				view: "sidebar",
				css:"webix_dark",
				data: menu_data,
				on:{
					onAfterSelect: function(id){
						webix.message("Selected: "+this.getItem(id).value);
					}
				}
            },
            {view:"htmlform", src:"/templates/card_view.html"}
                // {template:"http->/templates/card_view.html"},
		]}
            
	]
});
webix.ui({
  view:"popup",
  id:"basket",
  head:"basket_popup",
  width:500,
  body:{
    view:"list", 
    data:[
      {id:"1", name:"first item", cost:"100$"},
      {id:"2", name:"second item", cost:"200$"},
      {id:"3", name:"third item", cost:"300$"}
    ],
    template:"#itemName# - #cost#",
    autoheight:true,
    select:true
  }
});


    </script>
  </aside>
  <!--left menu end-->
 
</body>

</html>