<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8"/>
    {% block title %} {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    
{% include 'includes/dashboard/css_list.html' %}

</head>
{% if user.employee.theme|lower == "bl" %}
<body class="dark-edition">
{% else %}
<body>
{% endif %}

    <div style="display:none" id="theme">{{user.employee.theme}}</div>
    <div class="wrapper ">
        
{% include 'includes/dashboard/sidebar.html' %}

        <div class="main-panel ps-container ps-theme-default">
            
        {% include 'includes/dashboard/navbar.html' %}
        
        {% block context %}
        
        {% endblock %}
        
        </div>
    </div>
    
{% include 'includes/dashboard/js_list.html' %}

</body>
<!--<script type="module">
    import {themeChecker} from "{% static 'jsComponents/dashboard/themeChecker.mjs' %}";

    let colorTheme = document.querySelector("#theme").innerText;
    
    themeChecker(colorTheme);
</script>-->