<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    {% block title %} {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    
{% include 'includes/dashboard/css_list.html' %}

</head>
<body>
    <div class="wrapper ">
        
{% include 'includes/dashboard/sidebar.html' %}

        <div class="main-panel ps-container ps-theme-default">
            
        {% include 'includes/dashboard/navbar.html' %}
        
        {% block context %}
        
        {% endblock %}
        
        </div>
    </div>
    
{% include 'includes/dashboard/js_list.html' %}

</body>