{% load ita_template_tags %} {% load staticfiles %} {% load widget_tweaks %}
{% block title %}{% endblock %}
<!-- css list -->
{% include 'includes/shop/css_list.html' %}
<!-- /css -->

<body>
    <!-- navbar -->
    {% include 'includes/shop/navbar.html' %}
    <!-- /navbar -->

    {% block content %}
    {% endblock content %}
    
    <!--footer-->
    {% include 'includes/shop/footer.html'%}
    <!-- /footer-->

    <!-- js files-->
    {% include 'includes/shop/js_list.html' %}
    <!-- /JS -->
</body>