{% load ita_template_tags %}
{% load bootstrap4 %}
{% load widget_tweaks %} 
{% for form in invoice_line_formset %}

<tr id="aaaa{{product.id}}">
    <td><a href="#"><img src="{{form.instance.product.get_image}}" alt="product image"></a></td>
    <td><a href="#">{{ form.instance.product }}</a></td>
    <td>
        <div class="form-group">
        {{ form.quantity|add_class:"form-control" }}
        </div>
    </td>
    <td>{{ form.instance.unit_price | value_format }}</td>
    <td>{{ form.instance.value_total | value_format }}</td>
    <td><a href="#" onclick="deleteProduct(1)"><i class="btn btn-danger material-icons">delete</i></a></td>

</tr>


<script>


function deleteProduct(pk) {
    var rowId = document.getElementById("aaaa");
    document.getElementById("aaaa").classList.toggle("basket_delete_product")
    // rowId.innerHTML = "<td colspan='6'>1</td>"
    var QuestionField = document.createElement('div');
    var QuestionField = QuestionField.className = "deleteQuestionField";
    var QuestionField = QuestionField.innerHTML = "<button>Відновити</button>";
    document.body.appendChild(QuestionField);
}

</script>
{% endfor %}