{% for product in products %}
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="wrapper">
        <div class="container">
            <img class="top" src="{{product.get_image}}" alt="product image">
            <div class="bottom">
                <div class="left">
                    <div class="details">
                        <h5>{{product.title}}</h5>
                        <p>{{product.actual_price_wc}}</p>                    
                    </div>
                    <button class="add2basket buy" type="button" name="button" data-id="{% url 'invoice_line_create' product.pk %}"><i class="material-icons">add_shopping_cart</i></button>
                </div>
            </div>
        </div>
        <div class="inside">
            <div class="icon"><i class="material-icons">info_outline</i></div>
            <div class="contents">
                <table>
                    <tr>
                        <th>Розмір упаковки</th>
                    </tr>
                    <tr>
                        <td>{{product.pack_size}} {{product.default_uom}}</td>
                    </tr>
                    <tr>
                        <th>Група продуктів</th>
                    </tr>
                    <tr>
                        <td>{{product.group}}</td>
                    </tr>
                    <tr>
                        <th>Бренд</th>
                    </tr>
                    <tr>
                        <td>{{product.brand}}</td>
                    </tr>
                    <tr>
                        <th>Гарантійний термін</th>
                    </tr>
                    <tr>
                        <td>{{product.warranty_terms}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
window.onload = function () {
    $(document).ready(function () {

        $(".add2basket").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

    });
}
</script>
{% endfor %}
{% comment %} window.onload = function () {
    $(document).ready(function () {

        $(".add2basket").modalForm({
            formURL: "{% url 'invoice_line_create' product.id %}"
        });

    });
} {% endcomment %}
