{% for product in products %}
<!-- Modal -->
<div class="modal fade" id="add2basket_modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" method="post" id="add2basket_{{product.pk}}">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="add2basket_{{product.pk}}">Example label</label>
                        <input type="text" class="form-control" id="quanity_{{product.pk}}" placeholder="Введіть кількість товарів">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary">Save changes</input>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="wrapper">
        <div class="container">
        <div class="center-img">
            <img class="top" src="{{product.get_image}}" alt="product image">
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="details">
                        <h5>{{product.title}}</h5>
                        <p>{{product.actual_price_wc}}</p>                    
                    </div>
                    <button class="add2basket buy" data-toggle="modal" data-target="#add2basket_modal" type="button" name="button" ><i class="material-icons">add_shopping_cart</i></button>
                </div>
            </div>
        </div>
        <div class="inside">
            <div class="icon"><i class="material-icons">info_outline</i></div>
            <div class="contents">
                <table>
                    <tr>
                        <th>Розмір упаковки</th>
                    </tr>
                    <tr>
                        <td>{{product.pack_size}} {{product.default_uom}}</td>
                    </tr>
                    <tr>
                        <th>Група продуктів</th>
                    </tr>
                    <tr>
                        <td>{{product.group}}</td>
                    </tr>
                    <tr>
                        <th>Бренд</th>
                    </tr>
                    <tr>
                        <td>{{product.brand}}</td>
                    </tr>
                    <tr>
                        <th>Гарантійний термін</th>
                    </tr>
                    <tr>
                        <td>{{product.warranty_terms}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('submit','#add2basket', function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'{% url "invoice_line_create" product.pk %}',
            data:{
                quanity:$('#quanity_{{product.pk}}').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            sucess:function(){

            }
        })
    })
</script>

{% endfor %}