{% load staticfiles %} 
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<link rel="stylesheet" href="{% static 'assets/shop/vendor/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
<link rel="stylesheet" href="{% static 'assets/shop/vendor/owl.carousel/assets/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'assets/shop/vendor/owl.carousel/assets/owl.theme.default.css' %}">
<link rel="stylesheet" href="{% static 'assets/shop/css/style.blue.css' %}" id="theme-stylesheet">
<link rel="stylesheet" href="{% static 'assets/shop/css/custom.css' %}">