{% load staticfiles %}
{% load bootstrap4 %}
<script src="{% static 'assets/shop/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
{% bootstrap_javascript %}
{% bootstrap_javascript jquery='full' %}

<script src="{% static 'assets/shop/js/front.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
<script src="{% static 'assets/core/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'assets/shop/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/shop/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js' %}"></script>