{% load staticfiles %}
{% load bootstrap4 %}

{% bootstrap_javascript jquery='full' %}
{% bootstrap_javascript %}

<script src="{% static 'assets/shop/js/front.js' %}"></script>
<script src="{% static 'assets/shop/vendor/jquery.cookie/jquery.cookie.js' %}"> </script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.0.0/dist/lazyload.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="{% static 'assets/shop/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/shop/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js' %}"></script>

{% block extra_js%}
{% endblock %}