{% load ita_template_tags %} {% load staticfiles %} {% load widget_tweaks %} {% load i18n %} 
<header class="header mb-5">
    <!--TOPBAR-->
    <div id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offer mb-3 mb-lg-0">
                    <!-- <a href="#" class="btn btn-success btn-sm">Покупка дня</a> -->
                    <p>Вітаю в інтернет-магазині SmartMed </p>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <ul class="menu list-inline mb-0">
                        {% comment %} <li class="list-inline-item"><a href="#" data-toggle="modal" data-target="#login-modal">Вхід</a>
                        </li> {% endcomment %}
                        <li class="list-inline-item"><a href="register.html">Реєстрація</a></li>
                        <li class="list-inline-item"><a href="contact.html">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include 'includes/shop/login_modal.html' %}
        <!--TOP BAR END-->
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container"><a href="{% url 'shop_home' %}" class="navbar-brand home"><img
                    src="{% static '/assets/img/logo.png' %}" alt="SmartMed logo" class="d-none d-md-inline-block"><img
                    src="{% static '/assets/img/logo.png' %}" alt="SmartMed logo" class="d-inline-block d-md-none"><span
                    class="sr-only">SmartMed - go to homepage</span></a>
            <div class="navbar-buttons">
                <button type="button" data-toggle="collapse" data-target="#navigation"
                    class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>
                <button type="button" data-toggle="collapse" data-target="#search"
                    class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i
                        class="fa fa-search"></i></button><a href="basket.html"
                    class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
            </div>
            <div id="navigation" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
                    <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown"
                            data-delay="200" class="dropdown-toggle nav-link">Lorem<b class="caret"></b></a>
                        <ul class="dropdown-menu megamenu">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Бренди</h5>
                                        {% for product in products %}
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">{{brand}}</a>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Lorem</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Lorem</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Lorem</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                        </ul>
                                        <h5>Lorem</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown"
                            data-delay="200" class="dropdown-toggle nav-link">Lorem<b class="caret"></b></a>
                        <ul class="dropdown-menu megamenu">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Lorem</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Lorem</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Lorem</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                        </ul>
                                        <h5>Lorem</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown"
                            data-delay="200" class="dropdown-toggle nav-link">Lorem<b class="caret"></b></a>
                        <ul class="dropdown-menu megamenu">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 col-lg-3">
                                        <h5>Lorem</h5>
                                        <ul class="list-unstyled mb-3">
                                            <li class="nav-item"><a href="index.html" class="nav-link">Lorem</a>
                                            </li>
                                            <li class="nav-item"><a href="category.html" class="nav-link">Lorem</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-buttons d-flex justify-content-end">
                    <!-- /.nav-collapse-->
                    <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse"
                        href="#search" class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span
                            class="sr-only">Пошук</span><i class="fa fa-search"></i></a>
                    <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="{% url 'basket' %}"
                            class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>{% trans "Products in basket:" %}{{ products_count }}</span></a></div>
                </div>
            </div>
        </div>
    </nav>
    <div id="search" class="collapse">
        <div class="container">
            <form role="search" class="ml-auto">
                <div class="input-group">
                    <input type="text" placeholder="Search" class="form-control">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>