{% extends 'manager_base.html' %}
{% load ita_template_tags %} 
{% load staticfiles %} 
{% load widget_tweaks %} 
{% block title %}
<title>SmartMed | Список категорій</title>
{% endblock %}
{% block sidebar %} 
{% endblock %} 
{% block context %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Список категорій</h4>
                        <!-- <p class="card-category"> some text</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th> </th>
                                    <th><a href="?{% url_replace request 'o' 'name' %}"> НАЗВА КАТЕГОРІЇ </a></th>
                                    <th>Дії</th>
                                </thead>
                                <tbody>
                                    {% for category in categories %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="ids" value="{{ category.id }}" />
                                        </td>
                                        <td> {{ category.name }} </a></td>
                                        <td class="td-actions">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-round btn-icon">
                                                <a href="{% url 'category_update' category.id %}">
                                                <i class="material-icons">settings</i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}