{% extends 'base.html' %} 
{% load ita_template_tags %} 
{% load staticfiles %} 
{% load widget_tweaks %} 
{% block context %}
<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                    <div class="card-header card-header-info">
                        <div class="text-center">{{ product.title }}</div>
                    </div>
                    
                    <!--<div class="btn-group">-->
                    <!--    <button type="button" class="btn btn-danger btn-sm">{{ product.category }}</button>-->
                    <!--    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--        <span class="sr-only">Toggle Dropdown</span>-->
                    <!--    </button>-->
                    <!--    <div class="dropdown-menu">-->
                    <!--        <a class="dropdown-item" href="#">{{ product.category }}</a>-->
                    <!--    </div>-->
                    <!--</div>-->
                    
                    
                    
                    <p class="h5 m-3">Категорія товару: 
                        <small class="text-muted">{{ product.category }}</small>
                        <i class="form-icons material-icons edit-icons">edit</i>
                    </p>
                    <p class="h5 m-3">Група товару: 
                        <small class="text-muted">{{ product.group }}</small>
                        <i class="form-icons material-icons edit-icons">edit</i>
                    </p>
                    <p class="h5 m-3">Бренд: 
                        <small class="text-muted">{{ product.brand }}</small>
                        <i class="form-icons material-icons edit-icons">edit</i>
                    </p>
                    <div class="form-group ml-4 mr-4">
                        <label for="edit_product">Опис:</label>
                        <textarea class="form-control" id="edit_product" rows="12">{{ product.description }}</textarea>
                    </div>
                    
                    
                    <div class="row">
                    <p class="h6 m-3 col-3 small-text">Ким створений: {{ product.created_by }}</p>
                    <p class="h6 m-3 col-3 small-text">Коли створений: {{ product.date_created }}</p>
                    <p class="h6 m-3 col-3 small-text">Дата редагування: {{ product.date_updated }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <row>
                <div class="card">
                    <div class="card-header card-header-info">
                        update
                    </div>
                    
                    <div class="form-check disabled ml-3">
                        <label class="form-check-label">
                            <input id="bool_check" class="form-check-input" type="checkbox" value="{{ product.is_active }}" disabled>
                            Активний
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check disabled ml-3">
                        <label class="form-check-label">
                            <input id="bool_check" class="form-check-input" type="checkbox" value="{{ product.has_instances }}" disabled>
                            has_instances
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check disabled ml-3">
                        <label class="form-check-label">
                            <input id="bool_check" class="form-check-input" type="checkbox" value="{{ product.has_attributes }}" disabled>
                            has_attributes
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check disabled ml-3">
                        <label class="form-check-label">
                            <input id="bool_check" class="form-check-input" type="checkbox" value="{{ product.is_discountable }}" disabled>
                            Акційний
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                </row>
                <row>
                    <div class="card">
                        <p class="h5 m-3">UPC: <small class="text-muted">{{ product.upc }}</small></p>
                        <p class="h5 m-3">Міра виміру: <small class="text-muted">{{ product.default_uom }}</small></p>
                        <p class="h5 m-3">Розмір упаковки: <small class="text-muted">{{ product.pack_size }}</small></p>
                        <p class="h5 m-3">Мінімальна кількість замовлення: <small class="text-muted">{{ product.min_store_quantity }}</small></p>
                        <p class="h5 m-3">Гарантійний термін: <small class="text-muted">{{ product.warranty_terms }}</small></p>
                    </div>
                    <div class="card">
                        <div class="card-header card-header-info">
                            <div class="text-center">Фото товару</div>
                        </div>
                        <!-- Swiper -->
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/400/400)"></div>
                                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/400/400/city)"></div>
                                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/400/400/cats)"></div>
                                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/400/400/food)"></div>
                                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/400/400/nature)"></div>
                                <div class="swiper-slide" style="background-image:url(http://lorempixel.com/400/400/people)"></div>
                            </div>
        
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                        
                            <!-- Add Arrows -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </row>
            </div>
            
{% endblock %}