{% extends 'base.html' %}
{% load ita_template_tags %}
{% load staticfiles %}
{% block context %}
<div class="content">
 

                        
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-info">
                  <h4 class="card-title ">Список товарів</h4>
                  <!--<p class="card-category"> some text</p>-->
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class=" text-primary">
                          <th><a href="?{% url_replace request 'o' 'Product_title' %}"> НАЗВА ТОВАРУ </a></th>
                          <th><a href="?{% url_replace request 'o' 'Product_UPC' %}"> UPC </a></th>
                          <th><a href="?{% url_replace request 'o' 'Product_brand' %}"> БРЕНД </a></th>
                          <th><a href="?{% url_replace request 'o' 'Product_category' %}"> КАТЕГОРІЯ {{ title }}</a></th>
                          <th><a href="?{% url_replace request 'o' 'Product_group' %}"> ГРУППА </a></th>
                          <th><a href="?{% url_replace request 'o' 'Product_is_active' %}"> АКТИВНИЙ </a></th>
                          </thead>
                      <tbody>
                          {% for product in products %}
                           <tr>
                               <!--<td>-->
                               <!--    <input type="checkbox" name="ids" value="{{ product.id }}" />-->
                               <!--</td>-->
                               <td> {{ product.title }}</td>
                               <td> {{ product.UPC }}</td>
                               <td> {{ product.brand }}</td>
                               <td> {{ product.category }}</td>
                               <td> {{ product.group }}</td>
                               <td> {{ product.is_active }}</td>
                           </tr>
                           {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      </div>
{% endblock %}
