{% load ita_template_tags %}
{% load staticfiles %}
{% block context %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'assets/listview.css' %}">

<!--<body class="dark-edition">-->
<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Список товарів</h4>
                  <!--<p class="card-category"> some text</p>-->
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class=" text-primary">
                          <th><a href="?{% url_replace request 'o' 'Product_id' %}"> ID </a></th>
                          <th><a href="?{% url_replace request 'o' 'Product_title' %}"> НАЗВА ТОВАРУ </a></th>
                          <th><a href="?{% url_replace request 'o' 'Product_UPC' %}"> UPC </a></th>
                          <th><a href="?{% url_replace request 'o' 'Product_category' %}"> КАТЕГОРІЯ </a></th>
                          <th><a href="?{% url_replace request 'o' 'Product_group' %}"> ГРУППА </a></th>
                          </thead>
                      <tbody>
                           {% for product in catalogue %}
                           <tr>
                               <td>
                                   <input type="checkbox" name="ids" value="{{ product.id }}" />
                               </td>
                               <td> {{ product.title }}</td>>
                               <td> {{ product.UPC }}</td>>
                               <td> {{ product.category }}</td>>
                               <td> {{ product.group }}</td>>
                           </tr>
                           {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
      </div>
{% endblock %}
