{% extends 'manager_base.html' %}
{% load ita_template_tags %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block title %}
<title>SmartMed | {{ product.title }}</title>
{% endblock %}
{% block context %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="text-center">{{ product.title }}</div>
                    </div>
                    <div class="card-body">
                        <div class="col">
                            <form method="post">
                                {% csrf_token %}
                                <!--title and upc row-->
                                <div class="row">
                                    <div class="col-5">
                                        {{ form.title|as_crispy_field }}
                                    </div>
                                    <div class="col-5">
                                        {{ form.upc|as_crispy_field }}
                                    </div>
                                    <div class="col-2">
                                        <div class="form-check disabled ml-3">
                                            <label class="form-check-label">
                                                <input id="id_is_active" class="form-check-input" name="is_active"
                                                    type="checkbox" value="{{ product.is_active }}">
                                                Активний
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/title and upc row-->
                                <!--category, group and brand row-->
                                <div class="row">
                                    <div class="col-4">
                                        {{ form.category|as_crispy_field }}
                                    </div>
                                    <div class="col-4">
                                        {{ form.group|as_crispy_field }}
                                    </div>
                                    <div class="col-4">
                                        {{ form.brand|as_crispy_field }}
                                    </div>
                                </div>
                                <!--/category, group and brand row-->
                                <!--description row-->
                                <div class="row">
                                    <div class="col">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                </div>
                                <!--/description row-->
                                <!--warranty_terms, default_uom, pack_size and min_store_quantity row-->
                                <div class="row">
                                    <div class="col-3">
                                        {{ form.warranty_terms|as_crispy_field }}
                                    </div>
                                    <div class="col-3">
                                        {{ form.default_uom|as_crispy_field }}
                                    </div>
                                    <div class="col-3">
                                        {{ form.pack_size|as_crispy_field }}
                                    </div>
                                    <div class="col-3">
                                        {{ form.min_store_quantity|as_crispy_field }}
                                    </div>
                                </div>
                                <!--/warranty_terms, default_uom, pack_size and min_store_quantity row-->
                            </form>
                            <p class="card-text"><small class="text-muted">{% trans "* - required field" %}</small></p>
                        </div>
                        <!--other product information-->
                        <div class="card-footer text-center">
                            <div class="col">
                                <p class="card-text"><small class="text-muted">{% trans "Created by:" %}
                                        {{ product.created_by }}</small></p>
                            </div>
                            <div class="col">
                                <p class="card-text"><small class="text-muted">{% trans "Date created:" %}
                                        {{ product.date_created }}</small></p>
                            </div>
                            <div class="col">
                                <p class="card-text"><small class="text-muted">{% trans "Date updated:" %}
                                        {{ product.date_updated }}</small></p>
                            </div>
                        </div>
                        <!--/other product information-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="text-center">{% trans "Product photos" %}</div>
                    </div>
                    <div class="card-body">
                        <div class="card-header>
                            <div class=" col-12">
                            <h4 class="text-center">{% trans "Photo preview" %}</h4>
                        </div>
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" enctype="multipart/form-data" id="ProductImageForm">
                            {% crispy image_formset %}
                            {% for image in image_formset %}
                            <img class="img" src="{{ image.instance.image.url }}" alt="product image">
                            {% endfor %}
                        </form>

<script type="module">
import { checkbox } from "{% static '/jsComponents/BoolCheckbox.mjs' %}";
            
    checkbox();
</script>
{% endblock context %}