{% load bootstrap4 %}
{% load i18n %}
{% load staticfiles %}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{% trans "Delete product?" %}</h4>
            <a style="color: #000000;" class="close" href="{{request.META.HTTP_REFERER}}">×</a>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'product_delete' object.id %}"> {% csrf_token %}
                <p>{% trans "Are you sure you want to delete" %} "{{ object }}"?</p>
                <input type="submit" value="{% trans 'Confirm?' %}">
            </form>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->