{% extends 'manager_base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %}
<title>SmartMed | {{ product.title }} {% trans "attributes" %}</title>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css">
{% endblock extrastyle %}

{% block context %}
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-info">
                {% trans "Atributes" %}
            </div>
            {% include 'catalogue/includes/attributes_list_item.html' %}
            {% include 'catalogue/includes/attributes_list_item.html' %}
            {% include 'catalogue/includes/attributes_list_item.html' %}
            {% include 'catalogue/includes/attributes_list_item.html' %}
            {% include 'catalogue/includes/attributes_list_item.html' %}
            {% include 'catalogue/includes/attributes_list_item.html' %}
            <div class="col-1 ml-auto mb-2">
                <button class="btn btn-success btn-sm">
                    <i style="vertical-align: middle;" class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
    $(".names-select2").select2({
        minimumInputLength: 1, // the minimum input length
        allowClear: true,
        placeholder: "—",
        ajax: {
            url: "/some/path", // backend address (url)
            delay: 250,
            type: "post",
            dataType: "json",
            cache: true,
            // what we will send to the server in the request
            data: function (obj) {
                console.log(obj);
                /* obj.term -- what the user entered */
                return obj.term;
            },
            processResults: function (data, params) {
                return {
                    results: data.names
                };
            }
        }
    });

    // assign theme pack to select2
    $(".names-select2").select2({
        theme: "bootstrap"
    });
</script>
{% endblock %}
